# PHP Snippets
#
# Class
snippet class
<?php

namespace ${1:};

class ${2:ClassName} ${3:extends ${4:}}
{
	${5://}
}
endsnippet

#
# Class Constructor
snippet _c "class constructor"
public function __construct(${1:})
{
	${2://}
}
endsnippet

#
# Class Function
snippet func "class function"
/**
 *
 */
${1:public} function ${2:}(${3:})
{
	${4://}
}
endsnippet
