snippet sct
	<script lang="ts">
	  ${0}
	</script>

	<style lang="postcss">
	</style>

snippet d.
	<div class="${1}">
	  ${0}
	</div>

snippet disp
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
